<div id="map">
<div class="row">
       
<div class="video-container" style="margin-left:3%; margin-bottom:1%">
  
        <div class="responsive-video" >
          <iframe src="https://www.youtube.com/embed/6v2L2UGZJAM?rel=0&amp;showinfo=0" width="600" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen ></iframe>
        </div>
      </div>
        
      <div class="video-container" style="margin-left:3%; margin-bottom:1%">
        <div class="responsive-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/h924kiLlvA0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
      </div>
        
             
<div class="video-container" style="margin-left:3%; margin-bottom:1%">
  
        <div class="responsive-video" style="margin-right:3%">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/AJ38SiVOD78" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
              </div>
                   

</div>


