<div class="main-content">
  <div class="container-fluid">
      <!-- Card -->
      <!-- Card Light -->
      <div class="row">
            <div class="col-md-7">
                    <div class="card">
                        <div class="card-header" style="background-color:#072F5F;">
                            <h4 class="card-title" style="color:whitesmoke"> i-Drive Milestones Achieved</h4>
                            <p class="card-category">IndianOil Digital Readiness and IT Vision Enablement</p>
                        </div>
                        <div class="card-body card- card-description" style="text-align: justify;">
                                <span style="text-align:justify; padding:1%" > 
                                        Industrial Revolution 4.0 is the subset of the fourth industrial revolution that concerns industry. The fourth industrial revolution encompasses areas which are not normally classified as industry, such as smart cities for instance.
                                  
                                          Although the terms "industry 4.0" and "fourth industrial revolution" are often used interchangeably, "industry 4.0" refers to the concept of factories in which machines are augmented with wireless connectivity and sensors, connected to a system that can visualise the entire production line and make decisions on its own.
                                          
                                          In essence, industry 4.0 describes the trend towards automation and data exchange in manufacturing technologies and processes which include cyber-physical systems (CPS), the internet of things (IoT), industrial internet of things (IIOT)[2], cloud computing [3][4][5][6], cognitive computing and artificial intelligence.
                                          
                                          The concept includes:
                                          
                                          Smart manufacturing
                                          Smart factory

                                          Lights out (manufacturing) also known as dark factories
                                          <br/>
                                          <br/>
                                          Industrial internet of things also called internet of things for manufacturing [7]Industrial Revolution 4.0 is the subset of the fourth industrial revolution that concerns industry. The fourth industrial revolution encompasses areas which are not normally classified as industry, such as smart cities for instance.
                                  
                                          Although the terms "industry 4.0" and "fourth industrial revolution" are often used interchangeably, "industry 4.0" refers to the concept of factories in which machines are augmented with wireless connectivity and sensors, connected to a system that can visualise the entire production line and make decisions on its own.
                                          
                                          In essence, industry 4.0 describes the trend towards automation and data exchange in manufacturing technologies and processes which include cyber-physical systems (CPS), the internet of things (IoT), industrial internet of things (IIOT)[2], cloud computing [3][4][5][6], cognitive computing and artificial intelligence.
                                          
                                          The concept includes:
                                          
                                          Smart manufacturing
                                          Smart factory
                                          Lights out (manufacturing) also known as dark factories
                                          Industrial internet of things also called internet of things for manufacturing [7]
                                        </span>
                            
                        </div>
                    </div>
                </div> 
                <div class="col-md-5">
                    <div class="row">
                        <div class="card col-sm-5" style="margin-right: 1%;">

                                <!-- Card image -->
                                <div class="view overlay" style="height:100%; width:100%">
                                  <img class="card-img-top"  src="../../assets/img/consumer6.jpg" alt="Card image cap">
                                  <a>
                                    <div class="mask rgba-white-slight"></div>
                                  </a>
                                </div>
                              
                                <!-- Card content -->
                                <div class="card-body">
                              
                                  <!-- Social shares button -->
                                  <!--<a class="activator waves-effect waves-light mr-4"><i class="fas fa-share-alt"></i></a>-->
                                  <!-- Title -->
                                  <h4 class="card-title">News Article 22</h4>
                                  <hr>
                                  <!-- Text -->
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <!-- Link -->
                                  <a href="#!" class="black-text d-flex justify-content-end"><h5>Read more <i class="material-icons">keyboard_arrow_right</i></h5></a>
                              
                                </div>
                              
                              </div>
                        <div class="card col-sm-5" style="margin-right: 1%;">
                        
                                    <!-- Card image -->
                                    <div class="view overlay">
                                      <img class="card-img-top" src="../../assets/img/consumer5.jpg" alt="Card image cap">
                                      <a>
                                        <div class="mask rgba-white-slight"></div>
                                      </a>
                                    </div>
                                  
                                    <!-- Card content -->
                                    <div class="card-body">
                                  
                                      <!-- Social shares button -->
                                      <!--<a class="activator waves-effect waves-light mr-4"><i class="fas fa-share-alt"></i></a>-->
                                      <!-- Title -->
                                      <h4 class="card-title">News Article 2</h4>
                                      <hr>
                                      <!-- Text -->
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <!-- Link -->
                                      <a href="#!" class="black-text d-flex justify-content-end"><h5>Read more <i class="material-icons">keyboard_arrow_right</i></h5></a>
                              
                                    </div>
                                  
                              </div>
                    </div>

                    <div class="row">
                            <div class="card col-sm-5" style="margin-right: 1%;">
    
                                    <!-- Card image -->
                                    <div class="view overlay">
                                      <img class="card-img-top" src="../../assets/img/consumer7.jpg" alt="Card image cap">
                                      <a>
                                        <div class="mask rgba-white-slight"></div>
                                      </a>
                                    </div>
                                  
                                    <!-- Card content -->
                                    <div class="card-body">
                                  
                                      <!-- Social shares button -->
                                      <!--<a class="activator waves-effect waves-light mr-4"><i class="fas fa-share-alt"></i></a>-->
                                      <!-- Title -->
                                      <h4 class="card-title">News Article 3</h4>
                                      <hr>
                                      <!-- Text -->
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <!-- Link -->
                                      <a href="#!" class="black-text d-flex justify-content-end"><h5>Read more <i class="material-icons">keyboard_arrow_right</i></h5></a>
                              
                                    </div>
                                  
                                  </div>
                            <div class="card col-sm-5" style="margin-right: 1%;">
                            
                                        <!-- Card image -->
                                        <div class="view overlay">
                                          <img class="card-img-top" src="../../assets/img/consumer8.jpg" alt="Card image cap">
                                          <a>
                                            <div class="mask rgba-white-slight"></div>
                                          </a>
                                        </div>
                                      
                                        <!-- Card content -->
                                        <div class="card-body">
                                      
                                          <!-- Social shares button -->
                                          <!--<a class="activator waves-effect waves-light mr-4"><i class="fas fa-share-alt"></i></a>-->
                                          <!-- Title -->
                                          <h4 class="card-title">News Article 4</h4>
                                          <hr>
                                          <!-- Text -->
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                          <!-- Link -->
                                          <a href="#!" class="black-text d-flex justify-content-end"><h5>Read more <i class="material-icons">keyboard_arrow_right</i></h5></a>
                              
                                        </div>
                                      
                                  </div>
                        </div>
                </div>

                

        </div>
      <!-- Card Light -->

      <!-- Card -->
      
      <!--<div class="card">
          <div class="card-header card-header-danger">
              <h3 class="card-title">Notifications</h3>
              <p class="card-category">Handcrafted by our friend
                  <a target="_blank" href="https://github.com/mouse0270">Robert McIntosh</a>. Please checkout the
                  <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a>
              </p>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6">
                      <h4 class="card-title">Notifications Style</h4>
                      <div class="alert alert-info">
                          <span>This is a plain notification</span>
                      </div>
                      <div class="alert alert-info">
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span>This is a notification with close button.</span>
                      </div>
                      <div class="alert alert-info alert-with-icon" data-notify="container">
                          <i class="material-icons" data-notify="icon">add_alert</i>
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span data-notify="message">This is a notification with close button and icon.</span>
                      </div>
                      <div class="alert alert-info alert-with-icon" data-notify="container">
                          <i class="material-icons" data-notify="icon">add_alert</i>
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span data-notify="message">This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.</span>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <h4 class="card-title">Notification states</h4>
                      <div class="alert alert-info">
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span>
                              <b> Info - </b> This is a regular notification made with ".alert-info"</span>
                      </div>
                      <div class="alert alert-success">
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span>
                              <b> Success - </b> This is a regular notification made with ".alert-success"</span>
                      </div>
                      <div class="alert alert-warning">
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span>
                              <b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
                      </div>
                      <div class="alert alert-danger">
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span>
                              <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
                      </div>
                      <div class="alert alert-primary">
                          <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <i class="material-icons">close</i>
                          </button>
                          <span>
                              <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="places-buttons">
                  <div class="row">
                      <div class="col-md-6 ml-auto mr-auto text-center">
                          <h4 class="card-title">
                              Notifications Places
                              <p class="category">Click to view notifications</p>
                          </h4>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                          <div class="row">
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','left')">Top Left</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','center')">Top Center</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','right')">Top Right</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                          <div class="row">
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','left')">Bottom Left</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','center')">Bottom Center</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','right')">Bottom Right</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>-->

  <!--   <div class="card col-sm-2">

          
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
          
         
            <div class="card-body">
          
              <h4 class="card-title"><a>Card title</a></h4>
             
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
              <a href="#" class="btn btn-primary">Button</a>
          
            </div>
          
          </div> -->
  </div>
</div>
